<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Buruka</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="div1">
	<header>
		<div class="div2">
			<a href="http://www.facebook.com/"><div class="facebook"></div>
			<a href="http://wwww.instagram.com"><div class="instagram"></div></a>

		</div>
		<div class="tnt1"><nav>
			
			<ul>
				<li><a href="../buruka.html">Inicio</a></li>
				<li><a href="informacion.html">Informaci&oacuten</a></li>
				<li><a href="galeria.html">Galer&iacutea</a></li>
				<li><a href="">Contactos</a></li>
			</ul>
		</nav>
		</div>
	</header>
<div class="cuerpo">
<div class="div20">Galer&iacutea de mujeres </div>
<div class="div22">MALABARISTAS</div>
	<a href=""><div class="div15"></div></a>
	<a href=""><div class="div16"></div></a>
	<a href=""><div class="div17"></div></a>
	<a href=""><div class="div18"></div></a>
	<a href=""><div class="div19"></div></a>
	<a href=""><div class="div23"></div></a>
	<a href=""><div class="div24"></div></a>
	<a href=""><div class="div25"></div></a>
	<a href=""><div class="div26"></div></a>
	<a href=""><div class="div27"></div></a>
	<a href=""><div class="div28"></div></a>
	<a href=""><div class="div29"></div></a>
	<a href=""><div class="div30"></div></a>
	<a href=""><div class="div31"></div></a>
	<a href=""><div class="div32"></div></a>


</div>
	<footer>2014 buruka, Rivera-TNT diseño web</footer>
	</div>
	
</body>
</html>
