<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Buruka</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="div1">
	<header>
		<div class="div2">
			<a href="http://www.facebook.com/"><div class="facebook"></div>
			<a href="http://wwww.instagram.com"><div class="instagram"></div></a>

		</div>
		<div class="tnt1"><nav>
			
			<ul>
				<li><a href="../buruka.html">Inicio</a></li>
				<li><a href="informacion.html">Informaci&oacuten</a></li>
				<li><a href="galeria.html">Galer&iacutea</a></li>
				<li><a href="">Contactos</a></li>
			</ul>
		</nav>
		</div>
	</header>
<div class="cuerpo">
	<div class="div13"></div>
	<div class="div9">COLECTIVA</div>
	<div class="div10">DE MUJERES</div>
	<div class="div11">MALABARISTAS</div>
	
	<div class="div12">Somos 8 mujeres con una propuesta innovadora en el pa&iacutes, somos <br> mujeres con diferentes talentos unidas por amor al arte circense: <br> malabares, acrobacia, monociclo, malabares con fuego, pinta-caritas, <br> bodypaint, entre otros talentos, adem&aacutes temas de acci&oacuten social. <br> <br> Tambi&eacuten de espectaculos con diversas tem&aacuteticas pensados <br> para espacios con diferentes necesidades, abarcamos desde shows <br> infantiles, activaci&oacuten de marcas, animaci&oacuten de fiestas, hasta eventos empresariales.</div>
	
	<div class="div14"></div>
	

</div>
	<footer>2014 buruka, Rivera-TNT diseño web</footer>
	</div>
	
</body>
</html>
